<main>

    <h2> Exercício Contador </h2>
    Treinando o event/property/two-way binding

    <br><br>
    <h3> Contador: {{ contador }}</h3>

    <button (click)="clickAumentaContador($event)">
        Aumenta o Contador
    </button>

    <button (click)="clickDiminuiContador($event)">
        Diminui o Contador
    </button>

    <br><br><br>

    <!-- <ul>
        <li *ngFor="let memesAgrupados of memes">
            {{ memesAgrupados.categoria }}

            <div *ngFor="let meme of memesAgrupados.memes">
                    <img [src]="'https://raw.githubusercontent.com/vitorfgsantos/angular-memes-diretivas/master/images' + meme.imagemURL">
            </div>
        </li>
    </ul> -->

</main>